# CREATING A DATABASE

In [2]:
import mysql.connector
from mysql.connector import Error

In [6]:
def create_db_connection(hostname, username, password, database):
    connection = None
    try:
        connection = mysql.connector.connect(host=hostname, user=username, passwd=password, database=database)
        print("connection successful")
    except Error as e:
        print("Error: "+ str(e))
        
    return connection

In [7]:
create_db_connection('localhost', 'root','', 'harsimran')

connection successful

In [14]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query Successful")
    except Error as e:
        print("Error:" + str(e))

In [15]:
connection = create_db_connection('localhost', 'root', '', 'harsimran')
execute_query(connection,"insert into grewal values(null, 'Aman', 'hiii','ham')")

connection successful
Query Successful